.container {
  background-color: transparent;
  height: 55px;
  width: 55px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 0 !important;
  row-gap: 6px;
  cursor: pointer;
  span {
    width: 37px;
    border: 3px solid white;
    border-radius: 5px;
    transition: 0.5s;
    background-color: white;
  }
}

.focus {
  row-gap: 20px;
  span {
    &:nth-child(1) {
      transform-origin: left center;
      transform: translateX(5.5px) rotate(45deg);
    }
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      transform-origin: left center;
      transform: translateX(5.5px) rotate(315deg);
    }
  }
}
