.container {
  height: 260px;
  width: 320px;
  padding: 5px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border: 1px solid gainsboro;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  .inner_container {
    overflow: hidden;
    height: 240px;
    width: 300px;
    position: relative;
    border-radius: 8px;
    border: 1px solid gainsboro;
    img {
      height: 80%;
      width: 100%;
      z-index: 0;
    }
    .description {
      padding: 0 10px;
      border-top: 1px solid gainsboro;
      height: 144px;
      width: 100%;
      position: absolute;
      top: 80%;
      left: 0;
      transition: top 0.5s;
      background-color: white;
      h3 {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        opacity: 0.7;
      }
      p {
        font-size: 16px;
        line-height: 100%;
      }
    }
  }

  &:hover {
    .description {
      top: 40%;
      z-index: 2;
      overflow: auto;
    }
  }
}
