.container {
  overflow-y: scroll;
  overflow-x: hidden;
  color: white;
}

.landing {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);

  height: 100vh;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: clip;

  z-index: 1;
  position: relative;
  button {
    animation: button_animation 500ms linear forwards;
    cursor: pointer;
    font-size: 18px;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    height: 60px;
    width: 250px;
    overflow: hidden;
    transition: color 0.5s;

    &::before {
      content: "";
      position: absolute;
      outline-width: 0;
      height: 100%;
      width: 0%;
      background-color: white;
      color: black;
      text-align: center;
      display: flex;
      align-items: center;
      left: 0;
      top: 0;
      justify-content: center;
      transition: width 0.5s;
      z-index: -1;
    }
    &:hover {
      &::before {
        width: 100%;
      }

      color: black;
    }
  }
}

.landing_content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  min-width: 300px;
  h1 {
    white-space: nowrap;
  }
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing_links {
  height: 10%;
  width: 100%;
  background-position: 50% 0% !important;
  background-repeat: no-repeat !important;
  background-image: url("https://irp-cdn.multiscreensite.com/md/dmtmpl/12a62abd-5937-415e-bb15-e62e944bbc41/dms3rep/multi/cercle+white+border+top.svg") !important;
  background-size: cover !important;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  image {
    background-color: white;
  }
}

.link {
  height: 75px;
  width: 75px;
  margin: 0 5px;
  border-radius: 17px;
  transform: translateY(-50%);
  &:nth-child(2) {
    background-color: white;
  }
  cursor: pointer;
}

.about_me {
  background-color: white;
  z-index: 2;
  color: gray;
  width: 100%;
  max-width: 1024px;
  margin-bottom: 100px;
}

.contact_me {
  background-color: white;
  form {
    display: flex;
    flex-direction: column;
    #query {
      height: 200px !important;
    }
    input {
      width: 100%;
      height: 50px;
      border: 1px solid gainsboro;
      margin-bottom: 20px;
      border-radius: 5px;
    }

    button {
      color: white;
      background-color: black;
      opacity: 0.6;
      height: 60px;
      border-radius: 5px;
    }
  }

  z-index: 2;
  color: gray;
  width: 100%;
  max-width: 1024px;
}

$skill-strip-width: 1200px;

.skill_strip_container {
  position: relative;
  height: 60px;
  width: 100%;
  max-width: 1024px;
  overflow: hidden;
  .skill_strip {
    width: $skill-strip-width;
    display: flex;
    justify-content: space-around;
    position: absolute;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-timing-function: linear;
    &:nth-child(1) {
      top: 0;
      left: 0;
      animation-name: firstslide;
    }
    &:nth-child(2) {
      top: 0;
      left: $skill-strip-width;
      animation-name: secondslide;
    }
    .skill {
      height: 60px;
      width: auto;
    }
  }
}

.projects {
  width: 100%;
}

.about_me_image {
  height: 90%;
  width: auto;
}

.about_me_text {
}

.about_me_image {
}

.welcome_image_container {
  height: 100px;
  width: 100px;
  position: relative;
  margin: 30px 0;
}

.rocket {
  height: 75%;
  width: 75%;
  position: absolute;
  top: -30%;
  right: -30%;
  animation: rocketanimation 500ms linear forwards;
}

.landing_text {
  animation: bringintext 500ms linear forwards;
}

@keyframes rocketanimation {
  from {
    transform: translate(-150px, 100px);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes button_animation {
  from {
    transform: translateY(-20vh);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes bringintext {
  from {
    transform: translateX(-50vw);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes firstslide {
  from {
    left: 0;
  }
  to {
    left: -$skill-strip-width;
  }
}

@keyframes secondslide {
  from {
    left: $skill-strip-width;
  }
  to {
    left: 0;
  }
}
